body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.introducao {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.introducao h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.introducao p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.titulo-centralizado {
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
}

.artigos, .projetos {
    max-width: 800px;
    margin: 2rem auto;
}

.artigo, .projeto {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.artigo img, .projeto img {
    width: 100%;
    border-radius: 8px;
}

.artigo h2, .projeto h3, .projeto h4 {
    font-size: 2rem;
    margin: 1rem 0;
}

.artigo .data {
    font-style: italic;
    color: #790000;
    margin-bottom: 1rem;
}

.artigo .conteudo {
    font-size: 1.2rem;
    line-height: 1.6;
}

.artigo .conteudo .primeira-letra {
    font-size: 3rem;
    float: left;
    margin-right: 0.5rem;
    line-height: 1;
}

.artigo .botao, .projeto .botao {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.artigo .botao:hover, .projeto .botao:hover {
    background-color: #000000;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.redes-sociais a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.redes-sociais a:hover {
    color: #ddd;
}
